# Ignore Visual Studio temporary files, build results, and
# user-specific files

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (Mono auto generated)
mono_crash.*

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# MAUI specific directories
.vscode/
.maui/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Uncomment if using .NET Core SDK
# .vscode/
.ionide/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# VS Code files
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
.vscode/*.code-snippets

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# JetBrains Rider
.idea/
.idea_modules/
*.iml
out/

# Uncomment if you have tasks that create the following files in debug or release mode
# app.local
# *.runtimeconfig.json
# app.deps.json

# WebAssembly specific
*.emscripten_temp/

# User secrets
secrets.json

# Azure Functions
local.settings.json

# Dotnet MAUI specific files
*.appxsym
*.appxupload
*.appxbundle
SpendWise/.vs/
